<table class="table is-striped" id="dmp-display-table">
  <thead>
    <tr>
      <th>Probe ID</th>
      <th><abbr title="log2 fold change">logFC</abbr></th>
      <th><abbr title="t value">t</abbr></th>
      <th>P.Value</th>
      <th><abbr title="Chromosome">CHR</abbr></th>
      <th><abbr title="Map information">MAPINFO</abbr></th>
      <th>gene</th>
      <th>feat.cgi</th>
    </tr>
  </thead>
  <tbody>
    {% for dmp in dmp_list %}
    <tr>
      <th>{{dmp.probe_id}}</th>
      <td>{{dmp.logFC}}</td>
      <td>{{dmp.t_val}}</td>
      <td>{{dmp.p_val}}</td>
      <td>{{dmp.chr}}</td>
      <td>{{dmp.coord}}</td>
      <td>{{dmp.gene}}</td>
      <td>{{dmp.feat_cgi}}</td>
    </tr>
    {% endfor %}
  </tbody>

</table>

<div class="block">
	<div class="box" style="width: 30%; display: inline-block;">
		Number of Probe: {{ probe_num }}
	</div>

	<div class="box" style="width: 30%; display: inline-block;">
		Number of Gene: {{ gene_num }}
	</div>

	<div id="save-dmp-table" style="float: right; margin-right: 7%;">
		<div class="loader-wrapper">
		    <div class="loader is-loading"></div>
		    <p id="pls-wait-txt" style="font-size: 14px;">Please Wait...</p>
		</div>
		<button class="button is-primary is-light" id="export-df-btn">Export to xlsx</button>
	</div>
	
</div>
{% from 'base/pagination.html' import pagination %}
{% set page = page | int %}
{% set total_page = total_page | int %}
{{ pagination(page, total_page) }}


<script type="text/javascript">
(function() {

	function updateTableContent() {
		$.ajax({
  	  url: '{{ url_for("main.MainView") }}',
      type: 'POST',
      success: function(block)
      {
				$("#dmp-info-area").html(block);
      },
      error: function(response)
      {
        console.log(response);
      } 
    });
	}

	function setLoaderActive() {
		$(".loader-wrapper").css("display", "block");
  	$("#save-dmp-table > .loader-wrapper > .loader").css({
  		"height" : "30px",
  		"width" : "30px"
  	})
	}

  $(".pagination-link").click(function(event) {
    event.preventDefault();
    var page = $(this).data("page")
    $.cookie('page', page);

    updateTableContent();
  })

  $("#export-df-btn").click(function() {
  	
  	$(this).css("display", "none");

  	$.fileDownload('{{ url_for("main.SaveDMPView") }}', {
			httpMethod: 'GET',
			prepareCallback:function(url) {
         setLoaderActive()
      },
      successCallback: function() {
      	$("#export-df-btn").css("display", "block");
      	$(".loader-wrapper").css("display", "none");
      },
      failCallback: function() {
      	alert("File download failed!"); 
      }
		});
  })

})();
</script>