{% extends "base/layout.html" %} 
{% block main%}
<div class="columns">
	<nav class="panel column is-one-quarter" id="main-panel">
	  <p class="panel-heading">
	    Differential Methylation Positions (DMPs) Overview
	  </p>

	  <p class="panel-tabs" id="cancer-option">
	    <a class="is-active" data-cancer-type="colorectal">Colorectal</a>
	    <a data-cancer-type="bladder">Bladder</a>
	  </p>

	  <div class="panel-block">
	  	<div class="control has-icons-left" id="search-dmp">
				<input class="input" type="tags" placeholder="Search">
				<span class="icon is-left">
	        <i class="fas fa-search" aria-hidden="true"></i>
	      </span>
	    </div>
		</div>

	  <div class="panel-block" id="search-filter-block">
		  <div class="field" id="search-filter-options">
			  <input class="is-checkradio" id="search-filter-radio-probe" type="radio" name="search-filter-radio" value="probe" checked="checked">
			  <label for="search-filter-radio-probe">Probe ID</label>

			  <input class="is-checkradio" id="search-filter-radio-gene" type="radio" name="search-filter-radio" value="gene">
			  <label for="search-filter-radio-gene">Gene name</label>
			</div>
		</div>

  	<div class="panel-block dropdown is-hoverable" id="pheno-dropdown">
		  <div class="dropdown-trigger">
		    <button class="button" id="pheno-button" aria-haspopup="true" aria-controls="dropdown-menu3">
		      <span id="pheno-text">Select Phenotype</span>
		      <span class="icon is-small">
		        <i class="fas fa-angle-down" aria-hidden="true"></i>
		      </span>
		    </button>
		  </div>
		  <div class="dropdown-menu" id="pheno-menu" role="menu">
		    <div class="dropdown-content">
		    	<a href="#" class="dropdown-item" data-pheno="none">
		        None
		      </a>
		      <a href="#" class="dropdown-item" data-pheno="race">
		        Race
		      </a>
		      <a href="#" class="dropdown-item" data-pheno="stage">
		        Stage
		      </a>
		    </div>
		  </div>
		</div>
	  
	  <div class="panel-block pheno-options" id="race-options">
	  	<div class="field">
	  		<!-- <label><b>Race:</b></label> -->
			  <input class="is-checkradio" id="race-radio-asian" type="radio" name="race-radio" value="asian" checked="checked">
			  <label for="race-radio-asian">Asian</label>

			  <input class="is-checkradio" id="race-radio-black" type="radio" name="race-radio" value="black">
			  <label for="race-radio-black">Black</label>

			  <input class="is-checkradio" id="race-radio-white" type="radio" name="race-radio" value="white">
			  <label for="race-radio-white">White</label>
			</div>
	  </div>

	  <div class="panel-block pheno-options" id="stage-options">
	  	<div class="field">
	  		<!-- <label><b>Race:</b></label> -->
			  <input class="is-checkradio" id="stage-radio-early" type="radio" name="stage-radio" value="early" checked="checked">
			  <label for="stage-radio-early">Early (Stage I&II)</label>

			  <input class="is-checkradio" id="stage-radio-late" type="radio" name="stage-radio" value="late">
			  <label for="stage-radio-late">Late (Stage III&IV)</label>
			</div>
	  </div>

	  <p class="panel-block">
	  	<p style="text-align: center;">abs(logFC) threshold</p>
	    <input class="slider is-fullwidth" id="logFC-threshold" step="0.01" min="0" max="1" value="0" type="range">
	    <p style="text-align: center; margin-bottom: 10px;" id="threshold-val">Threshold value: 0 </p>
	  </p>

	  <div class="panel-block">
  		<div class="field" id="hyper-hypo-checker">
			  <input id="is-hyper" type="checkbox" name="is-hyper" class="switch" checked="checked">
			  <label for="is-hyper">Hyper</label>

			  <input id="is-hypo" type="checkbox" name="is-hypo" class="switch" checked="checked">
			  <label for="is-hypo">Hypo</label>
			</div>
	  </div>

	  <p class="panel-block">
	  	<input id="rem-duplicate-gene" type="checkbox" name="rem-duplicate-gene" class="switch">
			<label for="rem-duplicate-gene">Remove duplicate genes</label>
	  </p>

	  <!-- <a class="panel-block is-active">
	    <span class="panel-icon">
	      <i class="fas fa-book" aria-hidden="true"></i>
	    </span>
	    bulma
	  </a>
	 
	  <a class="panel-block">
	    <span class="panel-icon">
	      <i class="fas fa-code-branch" aria-hidden="true"></i>
	    </span>
	    daniellowtw/infboard
	  </a>
	  <a class="panel-block">
	    <span class="panel-icon">
	      <i class="fas fa-code-branch" aria-hidden="true"></i>
	    </span>
	    mojs
	  </a> -->

	  <div class="panel-block">
	    <button class="button is-link is-outlined is-fullwidth">
	      Reset all filters
	    </button>
	  </div>
	</nav>

	<!-- result display area (right block)-->
	<section class="column" id="res-display-opetions">
		<div class="tabs is-boxed">
		  <ul id="res-options-list">
		    <li class="is-active" id="dmp-table-opt" data-option="dmpTable">
		      <a id="dmp-table-link">
		        <span>DMPs table</span>
		      </a>
		    </li>
		    <li id="plot-display-opt" data-option="plot">
		      <a id="plot-view-link">
		        <span>Statistical plots</span>
		      </a>
		    </li>
		    <li id="primary-biomarkers" data-option="priBiomarkers">
		      <a>
		        <span>Primary biomarkers</span>
		      </a>
		    </li>
		    <li>
		      <a>
		        <span>???</span>
		      </a>
		    </li>
		  </ul>
		</div>

		<div id="dmp-info-area">
			{% block plot %} {% endblock %}
			{% block dmp_table %} {% endblock %}
			{% block primary_biomarkers %} {% endblock %}
		</div>

		<div hidden id="hidden-loader">
			<div class="loader-wrapper">
			    <div class="loader is-loading"></div>
			    <p id="pls-wait-txt" style="font-size: 14px; text-align: center;">Please Wait...</p>
			</div>
		</div>
		
		
		<!-- <div id="dmp-info-area">
			<table class="table is-striped" id="dmp-display-table">
		    <thead>
	        <tr>
	          <th>Probe ID</th>
            <th><abbr title="log2 fold change">logFC</abbr></th>
            <th><abbr title="t value">t</abbr></th>
            <th>P.Value</th>
            <th><abbr title="Chromosome">CHR</abbr></th>
            <th><abbr title="Map information">MAPINFO</abbr></th>
            <th>gene</th>
            <th>feat.cgi</th>
	        </tr>
		    </thead>
		    <tbody>
		      {% for dmp in dmp_list %}
	        <tr>
	            <th>{{dmp.probe_id}}</th>
	            <td>{{dmp.logFC}}</td>
	            <td>{{dmp.t_val}}</td>
	            <td>{{dmp.p_val}}</td>
	            <td>{{dmp.chr}}</td>
	            <td>{{dmp.coord}}</td>
	            <td>{{dmp.gene}}</td>
	            <td>{{dmp.feat_cgi}}</td>
	        </tr>
		      {% endfor %}
		    </tbody>
			</table>
			{% from 'base/pagination.html' import pagination %}
			{% set page = page | int %}
			{% set total_page = total_page | int %}
			{{ pagination(page, total_page) }}
		</div> -->
	</section>
</div>

<script type="text/javascript">
	(function () {
		
		// $.removeCookie('searchFilterText');
		// $.removeCookie('searchFilterOption');
		// $.removeCookie('logFCThreshold');
		// $.removeCookie('cancerType');
		// $.removeCookie('isDuplicateGenes');
		// $.removeCookie('raceOption');
		// $.removeCookie('stageOption');
		bulmaTagsinput.attach();

		function clearCookies() {
			var cookies = $.cookie();
			for(var cookie in cookies) {
			   $.removeCookie(cookie);
			}
		}

		function initCookies() {
			$.cookie('cancerType', 'colorectal');
		}

		function setMethyStatus() {
			$.cookie('isHyper', $("#is-hyper").is(":checked"))
			$.cookie('isHypo', $("#is-hypo").is(":checked"))
		}

		function updateTableContent() {
			if ($("#dmp-table-opt").hasClass("is-active")){
				
				$.ajax({
	    	  url: '{{ url_for("main.MainView") }}',
		      type: 'POST',
	        success: function(block) {
	        		$("#dmp-info-area").html(block);
	        },
	        error: function(response) {
	          console.log(response);
	        } 
		    });

		    return
			}

			else if ($("#primary-biomarkers").hasClass("is-active")){
				$.ajax({
	    	  url: '{{ url_for("main.PrimaryBiomarkersView") }}',
		      type: 'POST',
	        success: function(block) {
	        		$("#dmp-info-area").html(block);
	        },
	        error: function(response) {
	          console.log(response);
	        } 
		    });
			}

			else {
				setTimeout(updateTableContent, 500);

			}
		}

		function showPhenoOpts(pheno) {
			$.removeCookie('raceOption');
			$.removeCookie('stageOption');
			$(".pheno-options").css("display", "none");
			var race = $('input[name=race-radio]:checked').val();
			var stage = $('input[name=stage-radio]:checked').val();

			if (pheno == "race") {
				$(".pheno-options#race-options").css("display", "block");
				$.cookie('raceOption', race);
			}

			else if (pheno == "stage") {
				$(".pheno-options#stage-options").css("display", "block");
				$.cookie('stageOption', stage);
			}

			updateTableContent();
		}

		function setLoaderActive() {
			$("#dmp-info-area > .loader-wrapper").css({
				"display" : "block",
	  		"transform" : "translateY(100%)"
			});

	  	$("#dmp-info-area > .loader-wrapper > .loader").css({
	  		"height" : "80px",
	  		"width" : "80px"
	  	});
		}

		function updatePlots() {
			var plotType = $.cookie('plotOption');

			if (plotType != "volcano") {
				return
			}

			if ($("#plot-display-opt").hasClass("is-active")) {
				$.ajax({
	    	  url: '{{ url_for("main.PlotView") }}',
		      type: 'POST',
		      beforeSend: function() {
		      	var loaderHtml = $("#hidden-loader").html();
		      	$("#dmp-info-area").html(loaderHtml)
		      	setLoaderActive();
		      },
	        success: function(block) {
	        	$("#dmp-info-area > .loader-wrapper").remove();
	        	$("#dmp-info-area").html(block);
	        },
	        error: function(response) {
	          console.log(response);
	        } 
		    });
		  }

		  else {
		  	setTimeout(updatePlots, 500);
		  }
		}

		clearCookies();
		initCookies();
		setMethyStatus(); // initialize the methylation status (use cookie to store)
		updateTableContent();

		// ----- Left panel -----
		// select cancer type
		$("#cancer-option > a").click(function() {
			var cancerType = $(this).data("cancer-type");
			$.cookie('cancerType', cancerType);

			updatePlots();
			updateTableContent();
		})

	
		// search probe or gene 
		$("#search-dmp > input").on("change", function() {
			var searchFilterOpt = $('input[name=search-filter-radio]:checked').val();
			var keywordList = [];

			$("#search-dmp .control").each(function() {
				var tagName = $(this).data("tag");
				keywordList.push(tagName);
			})

			$.cookie('page', 1);
			$.cookie('searchFilterText', keywordList);
			$.cookie('searchFilterOption', searchFilterOpt);

			updateTableContent();
		})

		// select search filter (probe ID or gene name)
		$("#search-filter-options").change(function() {
			var searchFilterOpt = $('input[name=search-filter-radio]:checked').val();

			// $("#search-dmp > input").val("");
			$("#search-dmp .tagsinput .control").remove();
			$.cookie('page', 1);
			$.removeCookie('searchFilterText');
			$.cookie('searchFilterOption', searchFilterOpt);

			updateTableContent();
		})

		// change phenotype
		$("#pheno-menu > .dropdown-content > a").click(function() {
			var pheno = $(this).data("pheno")
			
			$("#pheno-text").html($(this).html());

			updatePlots();
			showPhenoOpts(pheno);
		})

		// select race
		$("#race-options > .field").change(function() {
			var race = $('input[name=race-radio]:checked').val();

			$.cookie('raceOption', race);

			updatePlots();
			updateTableContent();
		})

		// select stage
		$("#stage-options > .field").change(function() {
			var stage = $('input[name=stage-radio]:checked').val();

			$.cookie('stageOption', stage);

			updatePlots();
			updateTableContent();
		})

		// change logFC threshold
		$("#logFC-threshold").on("input", _.debounce(function() {
			var threshold = $(this).val();
			
			$.cookie('page', 1);
			$.cookie('logFCThreshold', threshold);
			$("#threshold-val").html("Threshold value: " + threshold)

			updateTableContent();
		}, 200))

		// hyper, hypo switches
		$("#is-hyper, #is-hypo").change(function() {
			$.cookie('page', 1);
			setMethyStatus()
			updateTableContent();
		})

		$("#rem-duplicate-gene").change(function() {
			$.cookie('isDuplicateGenes', $(this).is(":checked"));

			updateTableContent();
		})


		// ----- result display area ------
		// switch option
		$("#res-options-list > li").click(function() {
			$("#res-options-list > li").removeClass("is-active");
			$(this).addClass("is-active");
			var resultOpt = $(this).data("option");
			$.cookie('resultOption', resultOpt);
		})

		$("#dmp-table-link").click(function() {
			$.removeCookie('plotOption');
			$("#logFC-threshold").prop("disabled", false);
			updateTableContent();
		})

		$("#plot-view-link").click(function() {
			$.ajax({
    	  url: '{{ url_for("main.PlotView") }}',
	      type: 'GET',
        success: function(block) {
        	$("#dmp-info-area").html(block);
        },
        error: function(response) {
          console.log(response);
        } 
	    });
			// updatePlots();
		})

		$("#primary-biomarkers > a").click(function() {
			$.ajax({
    	  url: '{{ url_for("main.PrimaryBiomarkersView") }}',
	      type: 'POST',
        success: function(block) {
        	$("#dmp-info-area").html(block);
        },
        error: function(response) {
          console.log(response);
        } 
	    });

	    $("#logFC-threshold").prop("disabled", true);
		})


		$(".pagination-link").click(function(event) {
      event.preventDefault();
      var page = $(this).data("page");
      $.cookie('page', page);
      updateTableContent();
    	
    })

})();
</script>

{% endblock %}