<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}DNAm analysis{% endblock %}</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/v4-shims.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma-slider.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma-switch.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/basic.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dropzone.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dmp_tables_operation.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/plots.css') }}">

	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
	<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bulma-tagsinput@2.0.0/dist/js/bulma-tagsinput.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/ideogram@1.31.0/dist/js/ideogram.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/modules/item-series.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
	<script src="{{ url_for('static', filename='js/bulma-slider.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.fileDownload.js') }}"></script>
	<script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
	<script src="{{ url_for('static', filename='js/lodash.js') }}"></script>
	<script src="{{ url_for('static', filename='js/home.js') }}"></script>
	
</head>
<body>
  <section class="hero has-background-grey-dark">
	<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
	  <div class="navbar-brand">

	    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="nav-menu">
	      <span aria-hidden="true"></span>
	      <span aria-hidden="true"></span>
	      <span aria-hidden="true"></span>
	    </a>
	  </div>

	  <div id="nav-menu" class="navbar-menu">
	    <div class="navbar-start">
	      <a href="{{ url_for('main.MainView') }}" class="navbar-item has-text-white-ter">
	        <span class="icon-text">
			  <span class="icon">
			    <i class="fas fa-dna"></i>
			  </span>
			  <span>DNA Methylation Analysis Tools</span>
			</span>
	      </a>

	      <a href="{{ url_for('dmp_tables_operation.DMPTablesOPView') }}" class="navbar-item has-text-white-ter">
	      	<span class="icon-text">
			  <span class="icon">
			  	<i class="fas fa-wrench"></i>
			  </span>
			  <span>DMP tables operation</span>
			</span>
	      </a>

	      <div class="navbar-item has-dropdown is-hoverable">
	        <a class="navbar-link  has-text-white-ter">
	          More
	        </a>

	        <div class="navbar-dropdown">
	          <a class="navbar-item">
	            About
	          </a>
	          <a class="navbar-item">
	            Jobs
	          </a>
	          <a class="navbar-item">
	            Contact
	          </a>
	          <hr class="navbar-divider">
	          <a class="navbar-item">
	            Report an issue
	          </a>
	        </div>
	      </div>
	    </div>

	  </div>
	</nav>
  </section>
  <section>
  	<main style="margin: 2.2rem;">
    {% block main %}{% endblock %}
    {% block dmp_tables_operation %}{% endblock %}
  	</main>
  </section>
  <footer class="footer has-background-dark">
	<div class="content has-text-centered">
	  <p class="has-text-light">
	    Copyright &copy; 2021 NTUT CSIE Bioinformatic Lab.
	  </p>
	</div>
  </footer>
</body>
</html>