{% block primary_biomarkers %} 
<div class="block">
  <button class="button is-link is-outlined" id="chr-vis-btn">
    Chromosome visualization
  </button>
</div>

<div class="modal" id="chr-vis-modal">
  <div class="modal-background"></div>
  <div class="modal-content" style="width:80%;">
    <div id="ideo-container" style="width:100%; height: 80%; background-color: #FFFFFF"></div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<table class="table is-striped" id="dmp-display-table">
  <thead>
    <tr>
      <th>Probe ID</th>
      <th><abbr title="beta difference">Δβ</abbr></th>
      <th><abbr title="t value">t</abbr></th>
      <th><abbr title="adjusted p-value">adj.p-val</abbr></th>
      <th>gene</th>
      <th>feat.cgi</th>
      <th>detail</th>
    </tr>
  </thead>
  <tbody>
    {% for biomarker in biomarker_list %}  
      <tr>
      {% if biomarker.is_candidate %}
        <th style="color: #800000;">{{biomarker.probe_id}}</th>
      {% else %}
        <th style="color: #000000;">{{biomarker.probe_id}}</th>
      {% endif %}
        <td>{{biomarker.beta_diff}}</td>
        <td>{{biomarker.t_val}}</td>
        <td>{{biomarker.p_val}}</td>
        <td>{{biomarker.gene}}</td>
        <td>{{biomarker.feat_cgi}}</td>
        <td><button class="button is-inverted is-warning is-light biomarker-detail-btn" data-idx="{{ loop.index-1 }}" data-probe="{{biomarker.probe_id}}" data-gene="{{biomarker.gene}}"><i class="fas fa-info-circle"></i></button></td>
      </tr>
      
    {% endfor %}
    
  </tbody>  
</table>

<div class="modal" id="biomarker-detail-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div id="delta-beta-box-plot"></div>
    <!-- Any other Bulma elements you want -->
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<div class="block">
	<div class="box" style="width: 30%; display: inline-block;">
		Number of Probe: {{ probe_num }}
	</div>

	<div class="box" style="width: 30%; display: inline-block;">
		Number of Gene: {{ gene_num }}
	</div>
	
</div>
{% from 'base/pagination.html' import pagination %}
{% set page = page | int %}
{% set total_page = total_page | int %}
{{ pagination(page, total_page) }}
{% endblock %}

<script type="text/javascript">
(function() {
  var biomarkerInfo = {{ vis_data | safe }};
  var legend = [{
    name: 'Primary biomarker',
    rows: [
        {name: 'Candidate biomarker', color: '#000000'},
        {name: '', color: '#800000'}
    ]
  }];
  var config = {
    organism: 'human',
    assembly: 'GRCh37',
    container: '#ideo-container',
    resolution: 550, // proxy for number of cytobands
    chrHeight: 300,
    chrWidth: 10,
    chrMargin: 7,
    chrLabelSize: 15,
    annotationHeight: 5,
    annotations: biomarkerInfo,
    legend: legend,
    filterable: true
  };
  var ideogram = new Ideogram(config)

  function updateTableContent() {
    $.ajax({
      url: '{{ url_for("main.PrimaryBiomarkersView") }}',
      type: 'POST',
      data: {
        option: ""
      },
      success: function(block)
      {
        $("#dmp-info-area").html(block);
      },
      error: function(response)
      {
        console.log(response);
      } 
    });
  }

  function showBoxPlot(data, subjectIdx, gene) {
    Highcharts.chart('delta-beta-box-plot', {
      chart: {
        type: 'boxplot'
      },

      title: {
        text: 'Beta difference box plot'
      },

      subtitle: {
        text: gene
      },

      legend: {
          enabled: false
      },

      xAxis: {
        categories: ['Normal', 'Tumor'],
        title: {
          text: 'Subject groups'
        }
      },

      yAxis: {
        title: {
          text: 'Beta difference'
        }
      },

      plotOptions: {
        boxplot: {
          cropThreshold: 500
        }
      },

      series: [{
        name: 'Beta difference',
        data: [
          data[0][subjectIdx], // 0 -> normal
          data[1][subjectIdx] // 1 -> tumor
        ]
      }]
    });
    
  }

  function setLoaderActive() {
    $("#save-dmp-table > .loader-wrapper").css("display", "block");
    $("#save-dmp-table > .loader-wrapper > .loader").css({
      "height" : "30px",
      "width" : "30px"
    })
  }

  $(".pagination-link").click(function(event) {
    event.preventDefault();
    var page = $(this).data("page");
    $.cookie('page', page);

    updateTableContent();
  })

  $(".biomarker-detail-btn").click(function() {
    $("#biomarker-detail-modal").addClass("is-active");

    var subjectIdx = $(this).data("idx");
    var gene = $(this).data("gene");

    $.ajax({
      url: '{{ url_for("main.PrimaryBiomarkersView") }}',
      type: 'POST',
      data: {
        option: "boxPlot"
      },
      success: function(data)
      {
        showBoxPlot(data, subjectIdx, gene)
      },
      error: function(response)
      {
        console.log(response);
      } 
    });

  });

  $("#chr-vis-btn").click(function() {
    $("#chr-vis-modal").addClass("is-active");
  })

  $(".modal-close").click(function() {
    $(this).parent().removeClass("is-active");
  });

})();
</script>