/* home - left panel */

#main-panel {
	/*width: 35%; */
	height: 90%;
	margin: 10px;
	margin-bottom: 50px;
}

.panel-tabs > a {
    border-bottom: 2px solid #dbdbdb;
}

#main-panel > .panel-heading {
	/*font-size: 1.5vw;	*/
}

#cancer-dropdown{
    width: 100%;
}

.tagsinput {
	height: auto !important;
    max-height: 200px;
    overflow-y: auto;
}

.tagsinput >input {
	margin-bottom: 0.75em;
}

.tagsinput span.tag {
	background-color: #7cfcd433;
}

.field > label {
	margin-right: 10px;
}

.panel-block {
	border-bottom: 3px solid #ededed !important;
}

#pheno-dropdown {
	width: 50%;
	margin-top: 15px;
}

.pheno-options {
	display: none;
	border-bottom: 5px solid #ededed !important;
}

#logFC-threshold {
	width: 80%;
	margin-left: 20px;
}

#hyper-hypo-checker {
	position: relative;
	/*left: 10%;*/
	top: 5px;
}


.pagination {
	margin: auto;
	width: 80%;
}

/*.loader-wrapper {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: 0;
    z-index: -1;
    transition: opacity .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;  
}*/

.loader-wrapper {
    background: #fff;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 100%;
}

.loader {
	border-top: solid #3498db;
    height: 80px;
    width: 80px;
    margin: auto;
}

#export-toxlsx-btn, #export-csv-btn{
    margin-bottom: 5px;
}

#biomarker-display-area .card{
    margin: 10px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); 
    border: 1px solid #adaaaa55;
}

#biomarker-display-area .card:hover{
    cursor: pointer;
    /*background-image: none;*/
    transition: 0.3s;
    opacity: 0.5;
}