{% extends "./base/layout.html" %} 
{% block dmp_tables_operation %}
<article class="panel is-warning">
  <p class="panel-heading">
    DMP tables operation
  </p>
  <p class="panel-tabs">
    <a class="is-active" id="default-opt">Use default DMP tables</a>
    <a id="custom-opt">Use custom DMP files</a>
  </p>

  <div class="panel-block" id="operate-target-block">
  	<h2 style="margin-right: 10px;"><b>Operate on:</b></h2>
	  <div class="field" id="operate-target-options">
		  <input class="is-checkradio" id="operate-target-radio-probe" type="radio" name="operate-target-radio" value="probe" checked="checked">
		  <label for="operate-target-radio-probe">Probe ID</label>

		  <input class="is-checkradio" id="operate-target-radio-gene" type="radio" name="operate-target-radio" value="gene">
		  <label for="operate-target-radio-gene">Gene name</label>
		</div>
	</div>

	<div class="panel-block" id="operation-block">
  	<h2 style="margin-right: 10px;"><b>Operations: </b></h2>
	  <div class="field" id="operation-options">
		  <input class="is-checkradio" id="operation-radio-inter" type="radio" name="operation-radio" value="intersection" checked="checked">
		  <label for="operation-radio-inter">Intersection</label>

		  <input class="is-checkradio" id="operation-radio-sym" type="radio" name="operation-radio" value="symmetricDiff">
		  <label for="operation-radio-sym">Symmetric Difference</label>
		</div>
	</div>

  <div id="default-options">
  	<!-- <a class="panel-block is-active">
	    <span class="panel-icon">
	      <i class="fas fa-book" aria-hidden="true"></i>
	    </span>
	    bulma
	  </a>
	  <a class="panel-block">
	    <span class="panel-icon">
	      <i class="fas fa-book" aria-hidden="true"></i>
	    </span>
	    marksheet
	  </a>
	  <a class="panel-block">
	    <span class="panel-icon">
	      <i class="fas fa-book" aria-hidden="true"></i>
	    </span>
	    minireset.css
	  </a>
	  <a class="panel-block">
	    <span class="panel-icon">
	      <i class="fas fa-book" aria-hidden="true"></i>
	    </span>
	    jgthms.github.io
	  </a> -->
  </div>

  <div id="custom-options">
		<form action="{{ url_for('dmp_tables_operation.UploadfileView') }}" enctype="multipart/form-data" id="uploadFileArea" class="dropzone">
		</form>
  </div>
  <button class="button is-primary is-light" id="upload-btn">Upload</button>

	<div id="preview-area">
		{% block preview_table %} {% endblock %}
	</div>  

	<div id="save-dmp-table" style="display: none; margin-right: 7%;">
		<div class="loader-wrapper">
		    <div class="loader is-loading"></div>
		    <p id="pls-wait-txt" style="font-size: 14px; text-align: center;">Please Wait...</p>
		</div>
		<div id="save-file-btns" style="display: flex; flex-direction: column; justify-content: center;">
			<button class="button is-primary is-light" data-ftype="xlsx" 
			id="export-toxlsx-btn" style="width: 130px; margin: auto;">Export to xlsx</button>
			<button class="button is-primary is-light" data-ftype="csv" 
			id="export-tocsv-btn" style="width: 130px; margin: 10px auto;">Export to csv</button>
		</div>
	</div>
<!-- 
  {% with messages = get_flashed_messages() %}
	 
	    <ul class=flashes>
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	{% endwith %} -->
</article>

<script type="text/javascript">
(function () {
	Dropzone.autoDiscover = false;
	var myDropzone = new Dropzone("#uploadFileArea", {
		acceptedFiles: ".xlsx, .csv",
		autoProcessQueue: false,
		addRemoveLinks: true,
		dictMaxFilesExceeded: "You can only upload at most 3 files", 
		dictDefaultMessage: "Click to upload a file / drag and drop a file",
	  paramName: "file", // The name that will be used to transfer the file
	  parallelUploads: 10, // How many file uploads to process in parallel
	  maxFiles: 3,
	  maxFilesize: 7000, // MB
	  timeout: 1000000,
	  uploadMultiple: true,
	  init: function() {
	  	dropzone = this
	  	$("#upload-btn").click(function() {
	  		dropzone.processQueue();
	  	});	

	  },
		success: function(file, response) {
			$("#preview-area").css("display", "block");
			$("#preview-area").html(response);
			$("#save-dmp-table").css("display", "block");
			setTimeout(function() {
				myDropzone.removeAllFiles()
			}, 3000)
		}
	});

	clearCookies();
	initCookies();

	function clearCookies() {
		var cookies = $.cookie();
		for(var cookie in cookies) {
		   $.removeCookie(cookie);
		}
	}

	function initCookies() {
		$.cookie('operatedTarget', $("#operate-target-radio-probe").val())
		$.cookie('operation', $("#operation-radio-inter").val())
	}

	function setLoaderActive() {
		$("#save-dmp-table > .loader-wrapper").css("display", "block");
  	$("#save-dmp-table > .loader-wrapper > .loader").css({
  		"height" : "30px",
  		"width" : "30px"
  	})
	}

	$("#default-opt").click(function() {
		$("#default-options").css("display", "block");
		$("#custom-options").css("display", "none");
	});

	$("#custom-opt").click(function() {
		$("#custom-options").css("display", "block");
		$("#default-options").css("display", "none");
	});

	// operate on probe ID / gene name
	$("#operate-target-options").on("change", function() {
		var opTarget = $('input[name=operate-target-radio]:checked').val();

		$.cookie('operatedTarget', opTarget);
	});

	// select the operation
	$("#operation-options").on("change", function() {
		var operation = $('input[name=operation-radio]:checked').val();

		$.cookie('operation', operation);
	});
	
	$("#export-toxlsx-btn, #export-tocsv-btn").click(function() {
  	$(this).css("display", "none");

  	$.fileDownload('{{ url_for("main.SaveDMPView") }}', {
			httpMethod: 'POST',
			data: {
				fileType : $(this).data("ftype"),
				df: $("#df").html()
			},
			prepareCallback:function(url) {
         setLoaderActive()
      },
      successCallback: function() {
      	$("#export-toxlsx-btn, #export-tocsv-btn").css("display", "block");
      	$("#save-dmp-table > .loader-wrapper").css("display", "none");
      },
      failCallback: function() {
      	alert("File download failed!"); 
      }
		});
  });

})();
</script>
{% endblock %}