{% extends "./base/layout.html" %} 
{% block dmp_tables_operation %}
<article class="panel is-warning">
  <p class="panel-heading">
    DMP tables operation
  </p>
  <p class="panel-tabs">
    <a class="is-active" id="default-opt">Use default DMP tables</a>
    <a id="custom-opt">Use custom DMP files</a>
  </p>

  <div id="default-options">
  	<a class="panel-block is-active">
	    <span class="panel-icon">
	      <i class="fas fa-book" aria-hidden="true"></i>
	    </span>
	    bulma
	  </a>
	  <a class="panel-block">
	    <span class="panel-icon">
	      <i class="fas fa-book" aria-hidden="true"></i>
	    </span>
	    marksheet
	  </a>
	  <a class="panel-block">
	    <span class="panel-icon">
	      <i class="fas fa-book" aria-hidden="true"></i>
	    </span>
	    minireset.css
	  </a>
	  <a class="panel-block">
	    <span class="panel-icon">
	      <i class="fas fa-book" aria-hidden="true"></i>
	    </span>
	    jgthms.github.io
	  </a>
  </div>

  <div id="custom-options">
  	<!-- <form action="{{ url_for('dmp_tables_operation.UploadfileView') }}" method="post" enctype="multipart/form-data" class="dropzone">
		  <div class="fallback">
		    <input name="uploadedFile" type="file" multiple />
		  </div>
		</form> -->
		<form action="{{ url_for('dmp_tables_operation.UploadfileView') }}" enctype="multipart/form-data" id="uploadFileArea" class="dropzone">
			<!-- <input name="uploadedFile" type="file" multiple /> -->
			<!-- <h3 style="text-align: center;">Click to upload a file or drag and drop a file</h3> -->
			<!-- <div class="dz-default dz-message">
			</div> -->
		</form>
		<button class="button is-primary is-light" id="upload-btn">Upload</button>
  </div>
<!-- 
  {% with messages = get_flashed_messages() %}
	 
	    <ul class=flashes>
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	{% endwith %} -->

  
</article>
<script type="text/javascript">
	(function () {
		Dropzone.options.uploadFileArea = {
			acceptedFiles: ".xlsx, .csv",
			autoProcessQueue: false,
			addRemoveLinks: true,
			dictDefaultMessage: "Click to upload a file / drag and drop a file",
		  paramName: "file", // The name that will be used to transfer the file
		  parallelUploads: 10, // How many file uploads to process in parallel
		  maxFilesize: 7000, // MB
		  timeout: 1000000,
		  init: function() {
		  	dropzone = this
		  	$("#upload-btn").click(function() {
		  		dropzone.processQueue();
		  	});	
		  }
		};

		$("#default-opt").click(function() {
			$("#default-options").css("display", "block");
			$("#custom-options").css("display", "none");
		});

		$("#custom-opt").click(function() {
			$("#custom-options").css("display", "block");
			$("#default-options").css("display", "none");
		});

	})();
</script>
{% endblock %}